$enable-negative-margins: true

.btn-
    &red
        background-color: #BD3C4B
        color: #fff
        &:hover
            background-color: #BD3C4B
            color: #fff
        &:focus
            background-color: #BD3C4B
            color: #fff
    &gray
        background-color: #EBEBEB
        color: #000
        &:hover
            background-color: #EBEBEB
            color: #000
        &:focus
            background-color: #EBEBEB
            color: #000

a.router-link-exact-active
    color: black